<div class="navbar navbar-expand-sm navbar-light navbar-lewagon px-3">
  <div class="container-fluid">
    <%= link_to "/", class: "navbar-brand" do %>
      <%= image_tag "" %>
      <span class="logo-type">Neighborino</span>
      <p class="logo-phrase">Discover your local community</p>
      </div>
    <% end %>
    <div class="collapse navbar-collapse">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <% unless @area.nil? %>
          <li id="host-button" class="nav-item"> <%= link_to "Host an activity", new_area_activity_path(@area, @activity) %></li>
          <% end %>
          <li class="nav-item dropdown">
            <%= image_tag "https://res.cloudinary.com/dqat8a2hi/image/upload/v1645530508/Space-BNB/yuJKnlCNTN2sabHfSPhr_CyberPug_1-4_jcayx0.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>

            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "My booked activities", my_bookings_path(@area, @activity, @booking), class: "dropdown-item" %>
              <%= link_to "My account", "#", class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
    </div>
  </div>
</div>
