  <%# <div id="map-container"> %>
    <div id="map"
      style="width: 100%; height: 300px;"
      data-controller="mapbox"
      data-mapbox-markers-value="<%= @markers.to_json %>"
      data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  <%# </div> %>



<div class="content">
  <div class="area-card-container mt-4 container">
    <% @areas.each do |area| %>
     <%= link_to area_path(area) do %>
      <div class="card-area">
      <img src="<%= area_image_url(area) %>" />
      <div class="card-area-infos">
        <div>
          <h2><%= area.name %></h2>
          <!--
          <p><%= area.address %></p>
          -->
        </div>
      </div>
    </div>
    <% end %>
  <% end %>
  </div>

  <br> <br>

</div>
