<div class="area-title">
<h1>Things to do in <%= @area.name %></h1>
</div>
<div class="container">

<h3>Categories</h3>
<br>

  <div class="cards">
  <%= link_to "#{area_activities_path(@area)}?category=sports" do %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= category_image('sports') %>)">
     Sports
    </div>
   <% end %>

  <%= link_to "#{area_activities_path(@area)}?category=gardening" do %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= category_image('gardening') %>)">
      Gardening
    </div>
  <% end %>

  <%= link_to "#{area_activities_path(@area)}?category=social" do %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= category_image('social') %>)">
      Social
    </div>
  <% end %>

  <%= link_to "#{area_activities_path(@area)}?category=crafts" do %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= category_image('crafts') %>)">
      Crafts
    </div>
  <% end %>

  <%= link_to "#{area_activities_path(@area)}?category=exchange" do %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= category_image('exchange') %>)">
      Exchange
    </div>
  <% end %>

  <%= link_to "#{area_activities_path(@area)}?category=info" do %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= category_image('info') %>)">
      Info
    </div>
  <% end %>

  </div>

  <br><br>
  <h3>Recently added activities</h3>

  <div class="cards-activity">
    <% @activities.each_with_index do |activity, index| %>
    <%= link_to area_activity_path(activity) do %>
    <div class="card-product activity-cards">
      <img src="https://picsum.photos/200?random=<%= index %>" />
      <div class="card-product-infos">
        <h2><%= activity.name.capitalize %></h2>
        <p>Product description with <strong>relevant info</strong> only.</p>
      </div>
    </div>
    <% end %>
    <% end %>
  </div>

  <div class="back-button">
    <%= link_to "Back to areas", areas_path %>
  </div>

</div>
