<div class="area-title">
<h1>Things to do in <%= @area.name %></h1>
</div>
<div class="container">

<h3 id="area-title-card" class="title-text-card-container">Categories</h3>
<br>

  <div class="cards">
  <%= link_to "#{area_activities_path(@area)}?query=sports" do %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= category_image('sports') %>)">
     Sports
    </div>
   <% end %>

  <%= link_to "#{area_activities_path(@area)}?query=gardening" do %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= category_image('gardening') %>)">
      Gardening
    </div>
  <% end %>

  <%= link_to "#{area_activities_path(@area)}?query=social" do %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= category_image('social') %>)">
      Social
    </div>
  <% end %>

  <%= link_to "#{area_activities_path(@area)}?query=crafts" do %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= category_image('crafts') %>)">
      Crafts
    </div>
  <% end %>

  <%= link_to "#{area_activities_path(@area)}?query=exchange" do %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= category_image('exchange') %>)">
      Exchange
    </div>
  <% end %>

  <%= link_to "#{area_activities_path(@area)}?query=information" do %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= category_image('info') %>)">
      Info
    </div>
  <% end %>

  </div>

  <h3>Recently added activities</h3>

  <div class="cards-activity">
    <% @activities.each_with_index do |activity, index| %>
    <%= link_to area_activity_path(@area, activity) do %>
    <div class="card-product activity-cards">
      <img src="<%= activity_photo_url(activity) %>" />
      <div class="card-product-infos">
        <h2><%= activity.name.capitalize %></h2>
        <p><%= activity_description_cap(activity, 85) %></p>
      </div>
    <div>
     <%= image_tag "https://res.cloudinary.com/dqat8a2hi/image/upload/v1645530508/Space-BNB/yuJKnlCNTN2sabHfSPhr_CyberPug_1-4_jcayx0.jpg", id: "avatar-bordered" %>
    </div>
    </div>
    <% end %>
    <% end %>
  </div>

    <br>
    <%= link_to "Back to areas", areas_path, class: "btn btn-outline-primary my-3" %>

</div>
