<div class="container">
  <h1>List of activities in this category</h1>
  <br>

  <ul class="list-inline tabs-underlined">
  <li class="tab-underlined">
    <%= link_to "Sports", "#{area_activities_path(@area)}?category=sports", class: (params[:category]&.include?("sports") ? "active" : "inactive") %>
  </li>
  <li class="tab-underlined">
    <%= link_to "Gardening", "#{area_activities_path(@area)}?category=gardening", class: (params[:category]&.include?("gardening") ? "active" : "inactive") %>
  </li>
  <li class="tab-underlined">
    <%= link_to "Social", "#{area_activities_path(@area)}?category=social", class: (params[:category]&.include?("social") ? "active" : "inactive") %>
  </li>
  <li class="tab-underlined">
    <%= link_to "Crafts", "#{area_activities_path(@area)}?category=crafts", class: (params[:category]&.include?("crafts") ? "active" : "inactive") %>
  </li>
  <li class="tab-underlined">
    <%= link_to "Exchange", "#{area_activities_path(@area)}?category=exchange", class: (params[:category]&.include?("exchange") ? "active" : "inactive") %>
  </li>
  <li class="tab-underlined">
    <%= link_to "Info", "#{area_activities_path(@area)}?category=info", class: (params[:category]&.include?("info") ? "active" : "inactive") %>
  </li>
  </ul>
  <br>


  <% @activities.each do |activity| %>
    <%= link_to area_activity_path(@area, activity) do %>
    <div class="card-product activity-cards">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
      <div class="card-product-infos">
        <h2><%= activity.name.capitalize %></h2>
        <p>Product description with <strong>relevant info</strong> only.</p>
      </div>
    </div>
    <% end %>
    <% end %>

    <%= link_to "Back to area", area_path(@area) %>
</div>
