<div class="d-flex card-area-new bg-banner">
  <h2 class="text-start">Become a host</h2>
  <p>Connect with your neighbours in <%=@area.name%></p>
</div>

<div class="container">
</div>

<div class="d-flex card-area-new bg-yellow">
  <h2 class="text-start">Name your event</h2>
  <%= simple_form_for [ @area, @activity ] do |f| %>
  <%= f.input :name, label: false %>
</div>

<div class="d-flex card-area-new bg-blue">
  <h2 class="text-start">Where is your event taking place?</h2>
<%= f.input :address, label: false  %>
</div>

<div class="d-flex card-area-new bg-green">
  <h2 class="text-start">Choose a date</h2>
      <%= f.input :starts_at, as: :string, required: false, input_html: {class: "datepicker"} %>
      <%= f.input :ends_at, as: :string, required: false, input_html: {class: "datepicker"} %>
      <%= f.button :submit, "Go", class: "go-button btn btn-primary" %>
</div>

<div class="d-flex card-area-new bg-yellow">
  <h2 class="text-start">Description</h2>
  <%= f.input :description, label: false  %>
</div>

<div class="d-flex card-area-new bg-coral">
  <h2 class="text-start">Upload descriptive pictures</h2>
    <%= f.input :photo, multiple: true, as: :file, label: false %>
</div>

  <%= f.submit "Submit activity", class: "btn btn-primary" %>
  <% end %>
