<div class="container">
</div>

<div class="d-flex card-area-new bg-coral">
  <h2 class="text-start">Name your event</h2>
  <%= simple_form_for [ @area, @activity ] do |f| %>
  <%= f.input :name, label: false %>
</div>

<div class="d-flex card-area-new bg-blue right-side">
  <h2 class="text-start">Where is your event taking place?</h2>
<%= f.input :address, label: false  %>
</div>

<div class="d-flex card-area-new bg-green">
  <h2 class="text-start">Choose a date</h2>
      <%= f.input :starts_at, as: :string, required: false, input_html: {class: "datepicker"} %>
      <%= f.input :ends_at, as: :string, required: false, input_html: {class: "datepicker"} %>
</div>

<div class="d-flex card-area-new bg-yellow right-side">
  <h2 class="text-start">Description</h2>
  <%= f.input :description, label: false  %>
</div>

<div class="d-flex card-area-new bg-coral">
  <h2 class="text-start">Upload descriptive pictures</h2>
    <%= f.input :photo, multiple: true, as: :file, label: false %>
</div>

<div class="d-flex card-area-new bg-blue right-side">
  <h2 class="text-start">Add tags to your activity</h2>
  <p>This will help neighborinos find your activity</p>
  <%= f.input :tags, as: :check_boxes, collection: ['Sports','Gardening','Social','Crafts','Exchange','Info'], wrapper: :vertical_collection_inline %>
</div>

<div class="submit-button-container">
  <%= f.submit "Submit activity", class: "submit-button-area btn btn-primary" %>
  <% end %>
</div>

<div class="card-area-back bg-yellow d-flex justify-content-center">
  <%= link_to "Back to activities list", area_activities_path(@area), class: "btn btn-outline-primary my-3" %>

  <%= link_to "Back to area", area_path(@area), class: "btn btn-outline-primary my-3 mx-3" %>
</div>
