<div class="activities-banner"><img class="img-fluid new-activity-banner container-fluid" src= "https://res.cloudinary.com/dqat8a2hi/image/upload/v1646660207/neighbourino%20%28Neighborino%29-production/Site/bbq_jkenuu.jpg">
</div>

<h1>Create a new activity in <%=@area.name%></h1>

<%= simple_form_for [ @area, @activity ] do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :starts_at %>
  <%= f.input :ends_at %>
  <%= f.input :photo, multiple: true, as: :file %>
  <%= f.submit "Submit activity", class: "btn btn-primary" %>
<% end %>
