<div class="d-flex card-area-new bg-blue">
  <p class="text-center">Become a host</p>
</div>

<div class="container">
</div>

<div class="d-flex card-area-new bg-blue">
  <h2 class="text-center">Become a host</h2>
    <p>Connect with your neighbours in <%=@area.name%></p>
  <hr>
  <%= simple_form_for [ @area, @activity ] do |f| %>
  <%= f.input :name %>
</div>

<div class="d-flex card-area-new bg-blue">
  <h2 class="text-center">Become a host</h2>
    <p>Connect with your neighbours in <%=@area.name%></p>
  <hr>
<%= f.input :address %>
</div>

<div class="d-flex card-area-new bg-blue">
  <h2 class="text-center">Become a host</h2>
<%= f.input :starts_at %>
<%= f.input :ends_at %>
</div>

<div class="d-flex card-area-new bg-blue">
  <h2 class="text-center">Become a host</h2>
</div>

<div class="container">
  <%= f.input :photo, multiple: true, as: :file %>
  <%= f.submit "Submit activity", class: "btn btn-primary" %>
  <% end %>
</div>
