<div class="headerino bg-blue">
  <h2 class="headerino-lm" style="font-weight: bolder; padding-left: 16px;"><%= @activity.name.capitalize %></h2>
  <p style="padding-left: 16px;"><%= "#{@activity.address} - organised by" %> <strong><%= "#{@activity.user.first_name} #{@activity.user.last_name}" %></strong></p>
</div>

<div class="container">

<div>
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">

        <img src="<%= activity_photo_url(@activity) %>" class="d-block w-100" height="500px" style="object-fit:cover;" alt="...">
      </div>
      <div class="carousel-item">
        <img src="<%= activity_photo_url(@activity) %>" class="d-block w-100" height="500px" style="object-fit:cover;" alt="...">
      </div>
      <div class="carousel-item">
        <img src="<%= activity_photo_url(@activity) %>" class="d-block w-100" height="500px" style="object-fit:cover;" alt="...">

      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


<div class="headerino bg-green">
  <h3 class="headerino-lm" style="font-weight: bolder;">Details</h3>
</div>

<div><p style="margin: 0 auto; padding-left: 15px;"><%= @activity.description %></p></div>

<div>
  <h4 class="text-left sub-heading" style="padding-left: 15px; font-weight: bolder;">Location</small></h4>
  <p style="margin: 0 auto; padding-left: 15px;">Wandle Park, <%= @activity.user.area.address %></p>
</div>

<div class="d-flex justify-content-between">
  <div class="col-6">
      <h4 style="padding-left: 15px; font-weight: bolder;"><small>Start date</small></h4>
      <p style="padding-left: 15px; "><%= @activity.starts_at.nil? ? 'Every Saturday 12:00 AM' : @activity.starts_at.strftime('%a, %d %b %Y %H:%M') %></p>
  </div>
  <div class="col-6">
    <h4 style="font-weight: bolder;"><small>End date</small></h4>
    <p><%=  @activity.ends_at.nil? ? 'Every Saturday 2:00 PM' : @activity.ends_at.strftime('%a, %d %b %Y %H:%M') %></p>
  </div>
</div>


   <!-- create new @booking, simple form, submit-->
<div class="input-buttons">
<%= simple_form_for(@booking, url: area_activity_bookings_path(@area, @activity)) do |f| %>
  <%= f.input :start, as: :hidden, value: @activity.starts_at %>
  <%= f.input :end, as: :hidden, value: @activity.ends_at %>
  <%= f.button :submit, "Book this activity", class: "btn btn-outline-primary my-3" %>
<% end %>
</div>


<%# link_to "Back to activities list", area_activities_path, class: "btn btn-outline-primary my-3" %>

<%# link_to "Back to area", area_path(@area), class: "btn btn-outline-primary my-3 mx-3" %>

</div>
<br>

<%# helo %>
